<div class="page-header col-md-12">
  <div class="col-md-8">
    <h1>Administrador de Gastos
      <small>
        <%= @page_items[:spendings][:text] %>
        <h4 class="total-spends">Gastos totales = <%= @page_items[:month_total_spends] %></h4>
      </small>
    </h1>
  </div>
</div>
<div class="col-md-12">
  <% if @page_items[:spending].have_form %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
    <% end %>
    <%= simple_form_for @page_items[:spending], as: :spending, url: spendings_path, html: {class: 'spend-form form-inline' } do |f|%>
      <%= f.input :description, required: false, label: "Descripción",
          label_html: { class: 'form-label' }, placeholder: "En que gastaste"  %>
      <%= f.input :amount, required: false, label: "Cantidad", label_html: { class: 'form-label' }, placeholder: "0"  %>
      <%= f.button :submit, "Agregar" %>
    <% end %>
  <% end %>
  <div class="months-spendigs pull-right">
        <%= link_to "Més actual" , spendings_path(month: nil, year: nil), class: 'btn btn-default' %>
    <% @page_items[:months].each do |month| %>
        <%= link_to month[:text], spendings_path(month: month[:month], year: month[:year]), class: 'btn btn-default' %>
    <% end %>
  </div>
</div>
<div  class="col-md-12 div-table">
  <table class="col-md-6 table table-striped">
    <thead>
      <tr>
        <th>
          Descripcion
        </th>
        <th>
          Cantidad
        </th>
        <th>
          Fecha
        </th>
      </tr>
    </thead>
    <tbody>
      <% @page_items[:spendings][:spendings].each do |spending| %>
        <tr>
          <td>
            <%=  spending.description || ""%>
          </td>
          <td>
            <%= spending.amount %>
          </td>
          <td>
            <%= spending.created_at.to_s(:db) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
