<div class="page-header col-md-12">
  <h1>Administrador de Gastos
    <small>Demo</small>
  </h1>
</div>
<div class="col-md-12">
  <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
  <% end %>
  <%= simple_form_for @spending, as: :spending, url: spendings_path, html: {class: 'spend-form form-inline' } do |f|%>
    <%= f.input :description, required: false, label: "Descripción",
        label_html: { class: 'form-label' }, placeholder: "En que gastaste"  %>
    <%= f.input :amount, required: false, label: "Cantidad", label_html: { class: 'form-label' }, placeholder: "0"  %>
    <%= f.button :submit, "Agregar" %>
  <% end %>
  <h4 class="total-spends pull-left">Gastos totales = <%= @month_total_spends %></h4>
</div>
<div  class="col-md-12 div-table">
  <table class="col-md-6 table table-striped">
    <thead>
      <tr>
        <th>
          Descripcion
        </th>
        <th>
          Cantidad
        </th>
        <th>
          Fecha
        </th>
      </tr>
    </thead>
    <tbody>
      <% @spendings.each do |spending| %>
        <tr>
          <td>
            <%=  spending.description || ""%>
          </td>
          <td>
            <%= spending.amount %>
          </td>
          <td>
            <%= spending.created_at.to_s(:db) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
